
.content_wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

#logo_img {
    position: absolute;
    bottom: -5.5em;
    right: 6em;    
    max-width: 15%;
    height: auto;
}

#header_img {
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    top: 0;
    left: 0.5em;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 3em;
}

header {
    margin: 0;
    position: relative;
}

article h1 {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: -0.25em;
    font-family: 'Nunito', sans-serif;
}

nav a {  
    text-decoration: none;
}

a {
    color: blue;
}

nav a.active{  
    text-decoration: underline;
    font-weight: bold;
}

nav li {  
    list-style-type: none;
    margin-top: 4em;
}

.active_page {
    text-decoration: underline;
    font-weight: bold;
}

nav {  
    position: absolute;
    width: 25%;
    float:left;
}

.main_text {  
    width: 75%;
    float:right;
}

article li {  
    list-style-type: none;
}

article > div > ul > li{
font-style: italic;
}

article > div > ul > ul > li{
    margin-bottom: 2em;
}

article p {
    margin-top: 0;
    margin-left: 1em;
}

article h2 {
    margin-bottom: 0;
}
