body {
  background-image: url(https://images.all-free-download.com/images/graphicthumb/green_grass_02_hd_picture_166104.jpg);
}
#header {
  color: White;
  background-color: #32CD32;
  width: 450px;
}
#content {
  color: White;
  width: 900px;
  padding : 10px;
}

#main img{
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
#nav a{
  text-decoration: none;
  color: Red;
}
a {
  text-decoration: none;
  color: White;
}
#nav {
  background-color: #32CD32;
  width: 250px;
}
#main {
  background-color: #32CD32;
}
#image2{
  display: block;
  position: absolute;
  margin-left:  -180px;
  margin-right:  auto;
}
#image3{
  display: block;
  margin-left:  auto;
  margin-right:  auto;
}