h1{
font-family:arial;
font-size: 38px;
color: gray;
text-align:center;
display:block;
}

.header-image{
display: block;
}

footer{
text-align:center;
}


h2.name{
color:black
text-shadow: 5px 5px white;
}

.wrapper{
display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 200px;
  align-items: flex start;

}
.wrapper-header
  display: grid;
  grid-template-colums: 1fr 1fr;
  grid-auto-rows: 200px;
  align-items: flex start;
}
.sun{
height: 50px;
width: 50px;
border-radius: 15px;
position: relative;
top: -150px;
left: 100px;
}
.clouds{
height: 50px;
width: 50px;
border-radius: 15px;
position: relative;
top: -150px;
left: 100px;
}
.rain{
height: 50px;
width: 50px;
border-radius: 15px;
position: relative;
top: -150px;
left: 100px;
}
.city{
display: block;
width: 250px;
}

.forecast{
color:white;
font-size:20px;
font-weight:bold;
background-color: red;
opacity:0.5;
}

.temp{
color:white;
font-size:40px;
padding:10px 10px;
}

#weather-img{
height: 50px;
width: 50px;
border-radius: 15px;
}
.city.city1{
background-image: url(assets/city1.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;

}
.city.city2{
background-image: url(assets/city2.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city3{
background-image: url(assets/city3.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city4{
background-image: url(assets/city4.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city5{
background-image: url(assets/city5.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city6{
background-image: url(assets/city6.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city7{
background-image: url(assets/city7.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}
.city.city8{
background-image: url(assets/city8.jpg);
border: black;
border-style:double;
border-radius: 25px;
text-align: center;
padding: 10px 10px 10px 10px;
box-shadow: 10px 10px 20px 6px;
}