* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .wrapper{
     display: grid;
     width: 100%;
     gap: 10px;
     grid-auto-rows: 200px;
     align-items: flex start;}
  }
  h1{
  font-family:arial;
  font-size: 38px;
  color: gray;
  text-align:center;
  display:block;
  }

  .header-image{
  display: block;
  }

  footer{
  text-align:center;
  }


  h2.name{
  color:black
  text-shadow: 5px 5px white;
  }

  .sun{
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  top: -90%;
  left: 40%;
  }
  .clouds{
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  top: -90%;
  left: 40%;
  }
  .rain{
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 15px;
  top: -90%;
  left: 40%;
  }
  .city{
  width: 250px;
  border: black;
  border-style:double;
  border-radius: 25px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  box-shadow: 10px 10px 20px 6px;
  }

  .forecast{
  color:white;
  font-size:20px;
  font-weight:bold;
  background-color: red;
  opacity:0.5;
  }

  .temp{
  color:white;
  font-size:40px;
  padding:10px 10px;
  }

  #weather-img{
  height: 50px;
  width: 50px;
  border-radius: 15px;
  }
  .city.city1{
  background-image: url(assets/city1.jpg);
  }
  .city.city2{
  background-image: url(assets/city2.jpg);
  }
  .city.city3{
  background-image: url(assets/city3.jpg);
  }
  .city.city4{
  background-image: url(assets/city4.jpg);
  }
  .city.city5{
  background-image: url(assets/city5.jpg);
  }
  .city.city6{
  background-image: url(assets/city6.jpg);
  }
  .city.city7{
  background-image: url(assets/city7.jpg);
  }
  .city.city8{
  background-image: url(assets/city8.jpg);
  }
}
@media only screen and (min-width: 768px) {
  /* For tablets: */
.wrapper{
  display: grid;
  width: 100%;
  grid-template-columns:50%, 50%;
  gap: 10px;
  grid-auto-rows: 200px;
  align-items: flex start;}
}
@media only screen and (min-width: 1000px) {
  /* For tablets: */
 .wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
   grid-auto-rows: 200px;
   align-items: flex start;
}

