<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Enric Santamarta">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title class="title">Senate Party Loyality</title>

</head>

<body>
    <header class="header">
        <h1 class="logo">TGIF</h1>
        <a href="mailto:info@git.net?subject=Reaching%20Out&body=How%20are%20you" class="email">info@tgif.net</a>
    </header>

    <nav class="menu">

        <div class="container">
            <div class="panel-group">
                <div class="panel panel-deafult">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="home.html" class="selector">Home</a>
                            <a data-toggle="collapse" href="#collapse1" class="selector">Congress 113</a>
                            <a data-toggle="collapse" href="#collapse3" class="selector">Attendance</a>
                            <a data-toggle="collapse" href="#collapse4" class="selector">Party Loyalty</a>
                        </h4>
                    </div>


                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body"><a href="house-data.html">House</a></div>

                        <div class="panel-body"><a href="senate-data.html">Senate</a></div>

                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body"><a href="house-attendance.html">House</a></div>

                        <div class="panel-body"><a href="senate-attendance.html">Senate</a></div>

                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body"><a href="house-party-loyalty.html">House</a></div>

                        <div class="panel-body"><a href="senate-party-loyalty.html">Senate</a></div>

                    </div>
                </div>
            </div>
        </div>
    </nav>




    <!--Table container-->
    <div class="container" id="app">
        <h2>Party Loyalty</h2>
        <p class="maintext">Those who consider themselves to be strong partisans, strong Democrats and strong
            Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and
            legislation that backs their party's agenda. </p>

        <h2>Senate at a glance</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>PARTY</th>
                    <th>Number of Representants</th>
                    <th>Percentage of votes with Party</th>
                </tr>
                <tr>
                    <td>Republicans</td>
                    <td>{{partyInfo.republicans}}</td>
                    <td>{{partyInfo.averageVotesRepublicans}}%</td>
                </tr>
                <tr>
                    <td>Democrats</td>
                    <td>{{partyInfo.democrats}}</td>
                    <td>{{partyInfo.averageVotesDemocrats}} %</td>
                </tr>
                <tr>
                    <td>Independents</td>
                    <td>{{partyInfo.independents}}</td>
                    <td>{{partyInfo.averageVotesIndependents}} %</td>
                </tr>
            </tbody>
        </table>

        <h2>Least Loyal (Bottom 10% of Party)</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>NAME</th>
                    <th>Number of Party Votes</th>
                    <th>% Party Votes</th>
                </tr>
                <tr v-for="(index,item) in leastVotesNames">
                    <td>{{leastVotesNames[item]}}</td>
                    <td>{{leastVotesNumbers[item]}}</td>
                    <td>{{percentParty[item]}} %</td>
                </tr>
            </tbody>
        </table>

        <h2>Most Loyal (Top 10% of Party)</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>NAME</th>
                    <th>Number of Party Votes</th>
                    <th>% Party Votes</th>
                </tr>
                <tr v-for="(index,item) in mostVotesNames">
                    <td>{{mostVotesNames[item]}}</td>
                    <td>{{mostVotesNumbers[item]}}</td>
                    <td>{{percentParty2[item]}} %</td>
                </tr>
            </tbody>
        </table>

    </div>

    <footer>
        <div class="container-fluid">
            <p class="footer"> &#169 2016 TGIF | All Rights Reserved </p>

        </div>

    </footer>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="logic-senate.js"></script>
    <script src="utils.js"></script>
    <script src="main-statistics.js"></script>


</body>

</html>