.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo" "header" "subheader" "navigation" "info";
}

.body {
    font-family: fantasy
}

.header {
    grid-area: header;
    text-align: center;
    background-image: url('images/design1_image1.jpg');
    border: 1px solid black;
}

.subheader {
    grid-area: subheader;
    text-align: center;
    border: 1px solid black;
}

.navigation {
    grid-area: navigation;
    text-align: center;
    border: 1px solid black;
}

.li {
    grid-area: navigation;
    list-style: none;
}

.info {
    grid-area: info;
    text-align: left;
    border: 1px solid black;
}

.logo {
    grid-area: logo;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "subheader subheader logo" "navigation info info"
    }
}