* {
    margin:0;
    padding:0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header";
    "subheader subheader aside";
    "nav section section";
}
body{
    font-family:fantasy
}
.header{
   grid-area: header;
    text-align: center;
    background-image:url('images/design1_image1.jpg');
}
.subheader{
    grid-area: subheader;
    text-align: center;
}
.nav li {
    grid-area: nav;
    list-style: none;
    text-align: center;

}
.section {
    grid-area: section;
    text-align: left;
}  
.aside {
    grid-area: aside;
    justify-self: end;
}
@media screen and (min-width: 736px)
{
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "header header header";
        "subheader subheader aside";
        "nav section section"
    }  
}