
.header{
    position: absolute;
    margin-left: 65vw;
}
.maintext{
    text-align: justify;
    width: 60vw;

}

.footer{
    text-align: center;
}
.table{
    width: 60vw;
}
.menu{
    margin-top: 3vw;

}
.selector{
    margin-right: 2vw;
}

.panel{
    width: 60vw;
}