.page {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.page__header-image {
  display: flex;
  width: 100%;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.logo__icon {
  height: 5rem;
  width: auto;
}
.logo__title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  width: auto;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav__item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav__item:hover {
  background-color: #111;
}

.nav__item--active {
  background-color: #4caf50;
}

.nav__item--active:hover {
  background-color: #4caf50;
}

.article {
  text-align: justify;
}

.article__section-title {
  font-style: italic;
}

.article__important-text {
  font-style: italic;
  text-decoration: underline;
}

.article__subtitle {
  font-size: inherit;
  margin: 0;
}
.article__subtitle--inline {
  display: inline;
}

.article__inline-text {
  margin: 0;
  display: inline;
}

.article__list-date {
  list-style-type: none;
  margin-top: 2em;
  font-weight: bold;
}
.article__list-date-item {
  list-style-type: none;
}
.article__text-item {
  list-style-type: square;
}

.article__enum-text-item {
  list-style-type: lower-latin;
}

.table {
  width: 80%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table__head {
  text-decoration: underline;
}

.form__question {
  font-weight: bold;
}

.form__important-text {
  font-weight: bold;
  text-decoration: underline;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
