body {
    background-image: url(../background.jpg);
    font-size: 20px; 
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

#logo {
    display:flex;
    position: relative;
    transform: translateY(-0.5em);
    width: 6em;
    height: 6em;
}

.container {
    display: flex;
    background-color: #252b23d7;
}

nav {
    color: blue;
    display: flex;
    flex-direction: row; 
    /* align-items: flex-start; */
    /* width: 16%; */
    /* margin: 0;
    padding: 0; */
    position: relative;
    transform: translateY(-10rem) translateX(-2vw);
}

nav a{
    text-decoration: none;
    color: white;
    background-color: #252b23d7;
    /* border: 0.5em solid #252b23d7; */
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
}

nav li {
    display:inline;
}

nav li a:hover, li a:focus{
    background-color: #40532d;
    /* border: 0.5em solid  #0099ff; */

}

#currentpage {
    color: white;
    background-color: #5b8f20;
    border: 0.6rem solid #5b8f20;

}

u {
    text-decoration: none;
}

#currentpage:hover, #currentpage:focus{
    /* background-color: transparent; */

}

main {
    display: inline-block;
    width: 56%;
    margin-left: -5rem;
    position: relative;
    color: white;
} 

h1.logo {
    
    height: 231px;
    font-size: 3em;
    background-size: cover;
    margin: 4rem auto;
    color: #f3fccd;
    transform: translateY(2rem) translateX(2.3em);
}

h1.title {
    background-color: #252b23d7;
    color: white;
    border: 0.2rem solid transparent;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0 auto;
    transform: translateY(-1.05em);
}


h3 {
    font-style: italic;
}

h4 {
    font-size: 1.5em;
}

#logo {
    display:flex;
    position: relative;
    transform: translateY(-17em);
    width: 6em;
    height: 6em;
}

header {
    height: 20rem;
}

a {
    color: rgb(131, 190, 82);
}

table {
    color: white;
}


#allgames {
    font-size: 1.3em;
    transform: translateY(-19rem)
    
}

#bottompage {
    background-color: #252b23d7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.bottominfo {
    font-weight: 800;
}


}

table {
    border-collapse:inherit;

    border-spacing: 4px;
}

table, th, td {
  border: 1px solid #cecfd5;
}
th, td {
  padding: 10px 15px;
}

th {
    width: 500px;
}

#bottomtable {
    background-color: #252b23d7;
    width: 100%;
}

.phoneemail {
    font-weight: 800;
}

.rules {
    list-style-type: square;
}

.rulesbold {
    font-weight: 800;
}

.abcd {
    list-style: lower-latin;
}

.divrules {
    background-color: #252b23d7;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: justify;
}