body {
  Background-color:  	#98FB98;
}
.content {
  width: 800px;
  margin-right: auto;
}
h1 {
  color: white;
  display: block;
  background-image: url(../images/design1-image1.jpg);
  background-size: auto;
  height: 200px;
}

img{
position: absolute;
margin-left: 65%;
top: 200px;
z-index: 100;
}
ul {
  position: absolute;
  display: block;

  color: gray;
  list-style-type: none;
  padding: 0 0 0 5px;
  
}
ul li{
  padding: 0 0 0 20px;
  float: left;
}
ul a{
  text-decoration: none;
  color: red;
  padding: 0 0 0 5px;
  
}
main{
  position: absolute;
  float: right;
  left: 200px;
}
main a {
  text-decoration: none;
  color: black;
}
h2{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  display: block;
  clear: both;
  position: relative;
  top: -22px;
  height: 30px;
  text-align: center;
  
}