body {
  background-image: url("../images/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}
.content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
header{
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
  display: block;
  background: rgba(255,255,255,.7);
  
}
img{
  display: block;
  top: 20px;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  margin-left: 14%;
  position: absolute;
  display: block;
  top: -82px;
  list-style-type: none;
  z-index: 100;
  width: 100%;
  
}
nav ul li{
  
  padding: 0 0 0 20px;
  float: left;
  color: black;
}
nav ul a{
  background: #228B22;
  text-decoration: none;
  color: black;
  box-shadow:  1px 0 1px black,
               2px 0 2px black,
               3px 0 3px black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               1px 0 3px rgba(0,0,0,.3),
               3px 0 5px rgba(0,0,0,.2),
               5px 0 10px rgba(0,0,0,.25),
               10px 0 10px rgba(0,0,0,.2),
               20px 0 20px rgba(0,0,0,.15);
  
}
.selected {
  background-color: #ADFF2F;
}
main{
  min-width: 800px;
  background: rgba(255,255,255,.7);
  position: absolute;
  clear:both;
}
main a {

  text-decoration: none;
  color: black;
}
h2{
  width: 800px;
  background: rgba(255,255,255,.7);
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: block;
  clear: both;
  position: relative;
  text-align: center;
  
}
nav ul a:hover{
  background-color: lime;
}
footer {
  position: relative;
  padding: 20px 0 0 0;
  
}
main ol li{
 padding: 7px;
}
.first-tables {
  position:relative;
  width: 100%;
  table-layout: fixed;
}
td, th { 
}
th {
  text-decoration: underline;
  text-align:left;
}
.special {
  text-decoration: underline;
}
.bottom-table th, .bottom-table td{
  text-align: left;
}
.col1 {
  text-align:center;
}
.email {
  position: relative;
  text-align:right;
  top:-40px;
}
button{
  
}