.grid-header {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "title" "email";
    margin-top: 15px; 
}
.logo{
    border-radius: 50px;
}
.title{
    padding-top: 25px;
    padding-left: 25px;
}
.email{
    text-align: right;
    padding-top: 25px;
}
.grid-filters{
    display:grid;
    grid-template-columns: 1fr 280px;
    grid-template-rows: auto;
    grid-template-areas: "checkBoxBar" "stateSelector";
}

.main-grid{
    display:grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto;
    grid-template-areas: "main-article" "image";
}
.lent{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float:right;
    position: -webkit-sticky;
    position: sticky;
    top:100px;
}
.image{
    padding-top: 100px;
}
#dots{
    display:none;
}
#moreBtn{
    padding: 15px 60px;
    background-color: white;
    color: rgb(67, 163, 201);
    border:none;
    font-size: 18px;
    cursor:pointer;
}

.footer{
    text-align: center;
    background-color: #f8f9fa;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    padding-top: var(--bs-gutter-x,.75rem);
    padding-bottom:var(--bs-gutter-x,.35rem) ;
    margin-right: auto;
    margin-left: auto;
}
