<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Create new account:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="text"
              placeholder="Username"
              formControlName="username"
              minlength="3"
              maxlength="20"
              required
            />
            <mat-error
              *ngIf="signupForm.controls['password'].hasError('required')"
            >
              Please provide a valid username.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="signupForm.controls['email'].hasError('required')"
            >
              Please provide a valid email address.
            </mat-error>
            <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
              Please provide a valid email address.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="signupForm.controls['password'].hasError('required')"
            >
              Please provide a valid password.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signupForm.valid"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
