.floor {
    height: 500px;
    width: 38px;
    margin-top: 10%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(204, 10, 230);
    border-color: purple;
}

.stick {
    height: 30px;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(204, 10, 230);
    border-color: purple;
}

.secondStick {
    height: 30px;
    width: 400px;
    margin-top: 0px;
    margin-left: 32.5%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(204, 10, 230);
    border-color: purple;
}