@import "./nav";
@import "./article";

$button-color: #4caf50;

@mixin marginAutoLeftRight() {
  margin-right: auto;
  margin-left: auto;
}

.page {
  position: relative;
  @include marginAutoLeftRight();
  max-width: 960px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;

  &__header-image {
    display: flex;
    width: 100%;
    height: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;

  &__icon {
    height: 5rem;
    width: auto;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    width: auto;
  }
}

.table {
  width: 80%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__head {
    text-decoration: underline;
  }
}

.form {
  &__question {
    font-weight: bold;
  }

  &__important-text {
    font-weight: bold;
    text-decoration: underline;
  }
}

.button {
  background-color: $button-color;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
