.menu {
    list-style: none;
    float: left;
    padding: 5px;
    margin-left: 0px;
    font: bold 14px verdana;
    display: block;
    text-align: center;
}

.menu li {
    list-style: none;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px;
    font: bold 14px verdana;
    display: block;
    text-align: left;
}

.mark {
    text-align: center;
    font-size: 40px;
    background-color: blue;
    margin-top: 0px;
    color: white;
}

.logo {
    position: absolute;
    width: 120px;
    top: 200px;
    right: 300px;
}

.paragraph {
    width: 40%;
    margin-left: 230px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    display: block;
}

.head {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 150px;
    font-style: italic;
    font-size: 60px;
    border: 6px solid #949599;
    background-image: url(img/design1_image1.jpg);
}

.head2 {
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 30px;
    padding: 0px;
}

.head3 {
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 40px;
    padding: 0px;
}

.paragraph2 {
    width: 40%;
    margin-left: 250px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    display: block;
   
}

.paragraph3 {
    width: 40%;
    margin-left: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    font-style: oblique;
    
}