$darkblue: rgb(3, 61, 78);
$medblue: rgb(6, 126, 162);
$gray: rgb(189, 204, 209);



.grid {
  display: grid;
  grid-template-columns: auto 80vw;
  grid-template-rows: 9rem 12rem 6rem auto auto 3rem;
  grid-template-areas:
    "header header"
    "picbar picbar"
    "pagebar pagebar"
    "navbar info"
    "navbar details"
    "footer footer";
}

.logo {
  height: 75px;
  widows: 75px;
  position: relative;
}

.grid__header {
  grid-area: header;
  background-color: $darkblue;
}
   .header__title{
    color: $gray;
    font-size: 15px;
    text-align: left;
  }
.grid__picbar {
  grid-area: picbar;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(#033d4e)
    ),
    url("assets/design2_image1.jpg");
  background: linear-gradient(to bottom, transparent, #033d4e),
    url("assets/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
}
.grid__pagebar {
  grid-area: pagebar;
  background-color: $darkblue;
}
.pagebar__title{
  color: $gray;
  font-size: 2rem;
  text-align: center;
}
 

.grid__navbar {
  grid-area: navbar;
  background-color: $medblue;
  padding:0;
  
}

.navbar__navbutton {
  margin-left: 0rem;
  display: block;
  padding: 10px;
  color: $gray;
  list-style-type: none;

  &--active {
    background-color: $darkblue;
  }
}

.navbar__options{
  margin-left: 0rem;
}
.navbar__link{
    text-decoration: none;
    color:inherit;
  }

.grid__info {
  grid-area: info;
  text-align: center;
}
  .info__title {
    margin-top: 40px;
    font-size: 2.5rem;
  }
  .info__sub-title{
    font-size: 3rem;
  }
  .info__main {
    font-size: 0.5 rem;
    text-align: center;
  }
  .info__contact {
    margin-top: 30px;
  }

.grid__details {
  grid-area: details;
}

.details__rules {
  margin-left: 0px;
  font-size: 1rem;
  text-align: left;
  max-width: 20rem;
  word-wrap: break-word;
  }
  .details__header {
    text-align: left;
    margin-left: 0rem;
  }

.grid__footer {
  grid-area: footer;
  background-color: $darkblue;
  height: 3rem;
  text-align: left;
  color: $gray;
  bottom: 0;
}

.table-games {
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  .th {
    background-color: rgb(6, 126, 162);
  }
  tr:nth-child(even) {
    background: rgb(165, 178, 182);
  }
  tr:nth-child(odd) {
    background: rgb(188, 209, 216);
  }
}

@media only screen and (min-width: 650px) {
  /* For tablets*/
  .header__title {
      color: $gray;
      font-size: 3rem;
      text-align: center;
  }

  .navbar__navbutton {
      font-size: 1.5rem;
  }

  .grid__details {
    grid-area: details;
    font-size: 1.5rem;
  }
  .details__rules {
    font-size: 2rem;
    max-width: 60rem;
  }
  .grid__footer {
    text-align: center;
    font-size: 2.5rem;
  }

  .info__main {
      font-size: 1.7rem;
  }

  .table-games {
    font-size: 1.5rem;
  }

  .info__contact {
      font-size: 1.5rem;
    }

}
@media only screen and (min-width: 1000px) {
  /* For desktop */

  .grid__details {
    padding: 1rem;
  }
  .details__main{
    padding: 1rem;
    font-size: 1.5rem;
  }

  .form-contact {
    display: grid;
    font-size: 1.1rem;
    padding:1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "__first-name __last-name"
      "__address __address"
      "__city __zip"
      "__dob __gender"
      "__grade __grade"
      "__guardian __guardian"
      "__phone __email";

    input {
      border-style: none none solid none;
    }
  }

  .form-contact__first-name {
    grid-area: __first-name;
    input {
      width: 30vw;
    }
  }

  .form-contact__last-name {
    grid-area: __last-name;
    input {
      width: 30vw;
    }
  }

  .form-contact__address {
    grid-area: __address;
    input {
      width: 71.75vw;
    }
  }

  .form-contact__city {
    grid-area: __city;
    input {
      width: 32.98vw;
    }
  }

  .form-contact__zip {
    grid-area: __zip;
    input {
      width: 30.7vw;
    }
  }

  .form-contact__dob {
    grid-area: __dob;
  }

  .form-contact__gender {
    grid-area: __gender;
  }

  .form-contact__grade {
    grid-area: __grade;
  }

  .form-contact__guardian {
    grid-area: __guardian;
    input {
      width: 67.2vw;
    }
  }

  .form-contact__phone {
    grid-area: __phone;
    input {
      width: 28.5vw;
    }
  }

  .form-contact__email {
    grid-area: __email;
    input {
      width: 28.78vw;
    }
  }
  .main-container {
    padding: 1rem;
    background-color: antiquewhite;
  }

  .main-container__section {
    padding: 1rem;
    font-size: 1rem;
  }

  .main-container__section-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-container__section-cell {
    padding: 1rem;
  }

  .list {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list__item {
    list-style: none;
    padding: 1rem;
    width: 40%;
  }
}
