.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80vw;
      grid-template-columns: auto 80vw;
  -ms-grid-rows: 9rem 12rem 6rem auto auto 3rem;
      grid-template-rows: 9rem 12rem 6rem auto auto 3rem;
      grid-template-areas: "header header" "picbar picbar" "pagebar pagebar" "navbar info" "navbar details" "footer footer";
}

a {
  text-decoration: none;
}

.logo {
  height: 75px;
  widows: 75px;
  position: relative;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #033d4e;
}

.header .h1 {
  color: #bdccd1;
  font-size: 15px;
  text-align: left;
}

.picbar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: picbar;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#033d4e)), url("assets/design2_image1.jpg");
  background: linear-gradient(to bottom, transparent, #033d4e), url("assets/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
}

.pagebar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pagebar;
  background-color: #033d4e;
}

.pagebar .h2 {
  color: #bdccd1;
  font-size: 2rem;
  text-align: center;
}

.navbar {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: navbar;
  list-style-type: none;
  background-color: #067ea2;
}

.navbar.navbutton {
  margin-left: 0px;
  display: block;
  padding: 10px;
  color: #bdccd1;
}

.navbar.navbutton.active {
  background-color: #033d4e;
}

.navbar .ul {
  padding: 0;
}

.info {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: info;
  text-align: center;
}

.info.h2 {
  margin-top: 40px;
  font-size: 2.5rem;
}

.info.h3 {
  font-size: 3rem;
}

.info.p {
  font-size: 0.5 rem;
  text-align: left;
}

.info.contact {
  margin-top: 30px;
}

.info.form-contact {
  padding: 0px;
  text-align: left;
  width: 75vw;
}

.details {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: details;
}

.details .rules {
  margin-left: 0px;
  font-size: 1rem;
  text-align: left;
  max-width: 20rem;
  word-wrap: break-word;
}

.details .h2 {
  text-align: left;
  margin-left: 0rem;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #033d4e;
  height: 3rem;
  text-align: left;
  color: #bdccd1;
  bottom: 0;
}

.table-games {
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

.table-games .th {
  background-color: #067ea2;
}

.table-games tr:nth-child(even) {
  background: #a5b2b6;
}

.table-games tr:nth-child(odd) {
  background: #bcd1d8;
}

.image {
  float: right;
}

@media only screen and (min-width: 650px) {
  /* For tablets*/
  .header .h1 {
    color: #bdccd1;
    font-size: 3rem;
    text-align: center;
  }
  .navbar.navbutton {
    font-size: 1.5rem;
  }
  .details {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: details;
    font-size: 1.5rem;
  }
  .details .rules {
    font-size: 1.5rem;
    max-width: 60rem;
  }
  .footer {
    text-align: center;
    font-size: 2.5rem;
  }
  .info .p {
    font-size: 1.5rem;
  }
  .table-games {
    font-size: 1.5rem;
  }
  .table-locations {
    font-size: 2rem;
  }
  .info .contact {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  /* For desktop */
  .details {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */