$darkblue: rgb(3, 61, 78);
$medblue: rgb(6, 126, 162);
$gray: rgb(189, 204, 209);

.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-areas:
    "header header"
    "picbar picbar"
    "pagebar  pagebar"
    "navbar info"
    "navbar details"
    "footer footer";
}
.logo {
  height: 75px;
  widows: 75px;
  position: relative;
}

.header {
  grid-area: header;
  background-color: $darkblue;
  .h1 {
    color: $gray;
    font-size: 15px;
    text-align: left;
  }
}
.picbar {
  grid-area: picbar;
  background: linear-gradient(to bottom, transparent, $darkblue),
    url("assets/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75px;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
}
.pagebar {
  grid-area: pagebar;
  height: 50px;
  background-color: $darkblue;
  .h2 {
    color: $gray;
    font-size: 20px;
    text-align: center;
  }
}
.navbar {
  grid-area: navbar;
  width: 60px;
  list-style-type: none;
  background-color: $medblue;
  length: 100vh;
  margin-top: 15px;
  .li {
    margin-left: 0px;
    display: block;
    padding: 10px;
    color: $gray;
    width: auto;
  }
  .active {
    background-color: $darkblue;
    color: $gray;
  }
  .ul {
    padding: 0;
  }
}
.info {
  grid-area: info;
  min-width: 500px;
  text-align: left;
  font-size: 18px;
  .h2 {
    margin-top: 30px;
    font-size: 19px;
  }
  .h3 {
    font-size: 19px;
  }
}
.details {
  grid-area: details;
  .li-rules {
    margin-left: 0px;
    font-size: 19px;
    text-align: left;
    max-width: 200px;
    word-wrap: break-word;
  }
  .h2{
      text-align: left;
      margin-left: 0px;
  }
}
.footer {
  grid-area: footer;
  background-color: $darkblue;
  height: 50px;
  text-align: left;
  color: $gray;
  bottom: 0;
}

.table-games {
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  .th {
    background-color: rgb(6, 126, 162);
  }
  tr:nth-child(even) {
    background: rgb(165, 178, 182);
  }
  tr:nth-child(odd) {
    background: rgb(188, 209, 216);
  }
}
.table-locations {
  margin-left: auto;
  margin-right: auto;
  .tr {
    margin: 2px;
  }
}
