.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-areas:
    "header header header"
    "picbar picbar picbar"
    "pagebar pagebar pagebar"
    "navbar info img"
    "navbar details details"
    "footer footer footer";
}

header {
  background-color: rgb(3, 61, 78);
  width: 100%;
  height: 75px;
  grid-area: header;
  padding-top: 20px;
}
.picbar {
  grid-area: picbar;
  background: linear-gradient(to bottom, transparent, rgb(3, 61, 78)),
    url("assets/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75px;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
}
.navbar {
  grid-area: navbar;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(6, 126, 162);
  length:100vh;
}
.navbar.li {
  margin-left: 0px;
  display: block;
  padding: 10px;
  color: rgb(189, 204, 209);
  width: auto;
}
.navbar.li.active {
  background-color: rgb(3, 61, 78);
}
.li{
color: black;
}
.info {
  grid-area: info;
  min-width: 500px;
  text-align: left;
  list-style-type:georgian;
}
.pagebar {
  grid-area: pagebar;
  height: 50px;
  background-color: rgb(3, 61, 78);
  color: rgb(189, 204, 209);
}
.details{
  grid-area: details;
  text-align: center;
  max-width: 50%;
}
.footer {
  grid-area: footer;
  background-color: rgb(3, 61, 78);
  width: 100%;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  color: rgb(189, 204, 209);
  font-size: 20px;
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.logo {
  width: 50px;
  height: 50px;
  position: relative;
}
h2 {
  text-align: left;
  margin: 5px;
  color: rgb(189, 204, 209);
  font-size: 17px;
}
h1 {
  text-align: left;
  margin: 5px;
  color: rgb(189, 204, 209);
  font-size: 17px;
}
table.games{
    width: 400px;
}
th{
  background-color: rgb(6, 126, 162);
}

tr:nth-child(even) {background: rgb(142, 167, 175)}
tr:nth-child(odd){background: rgb(118, 161, 175) }


@media only screen and (min-width: 650px) {
  /* For tablets: */
  .grid {
    display: grid;
    grid-template-columns: 100px, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
      "header header header"
      "picbar picbar picbar"
      "pagebar pagebar pagebar"
      "navbar details image"
      "footer footer footer";
  }
  .image {
    grid-area: image;
    background-image: url("assets/soccer_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
  }
  .info {
    grid-area: info;
    text-align: left;
    max-width: 300px;
    margin-left: 0px;
  }
  h2 {
    text-align: center;
    margin: 5px;
    color: rgb(189, 204, 209);
    font-size: 17px;
  }
  h1 {
    text-align: center;
    margin: 5px;
    color: rgb(189, 204, 209);
    font-size: 17px;
  }
}
@media only screen and (min-width: 1000px) {
   .header{
       height: 150px;
   }
  .picbar {
    height: 250px;
  }
  .navbar {
    grid-area: navbar;
    width: 250px;
  }
  li{
      font-weight: 19px;
  }
  .img {
    grid-area: img;
    background-image: url("assets/soccer_image1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 300px;
  }
  .logo {
    width: 75px;
    height: 75px;
    position: relative;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  .footer {
    height: 1000px;
    font-size: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
}
