$darkblue: rgb(3, 61, 78);
$medblue: rgb(6, 126, 162);
$gray: rgb(189, 204, 209);

.grid {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 9rem 12rem 6rem auto auto 3rem;
  grid-template-areas:
    "header header"
    "picbar picbar"
    "pagebar pagebar"
    "navbar info"
    "navbar details"
    "footer footer";
}
a {
  text-decoration: none;
}
.logo {
  height: 75px;
  widows: 75px;
  position: relative;
}

.header {
  grid-area: header;
  background-color: $darkblue;
  .h1 {
    color: $gray;
    font-size: 15px;
    text-align: left;
  }
}
.picbar {
  grid-area: picbar;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(#033d4e)
    ),
    url("assets/design2_image1.jpg");
  background: linear-gradient(to bottom, transparent, #033d4e),
    url("assets/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
}
.pagebar {
  grid-area: pagebar;
  background-color: $darkblue;
  .h2 {
    color: $gray;
    font-size: 2rem;
    text-align: center;
  }
}
.navbar {
  grid-area: navbar;
  list-style-type: none;
  background-color: $medblue;

  &.navbutton {
    margin-left: 0px;
    display: block;
    padding: 10px;
    color: $gray;

    &.active {
      background-color: $darkblue;
    }
  }

  .ul {
    padding: 0;
  }
}
.info {
  grid-area: info;
  padding: 1rem;
  text-align: center;

  .h2 {
    margin-top: 40px;
    font-size: 2.5rem;
  }
  .h3 {
    font-size: 3rem;
  }
  .p {
    font-size: 0.5 rem;
    text-align: left;
  }
  .contact {
    margin-top: 30px;
  }
}
.details {
  grid-area: details;
  margin-top: 30px;
  .rules {
    margin-left: 0px;
    font-size: 1rem;
    text-align: left;
    max-width: 20rem;
    word-wrap: break-word;
  }
  .h2 {
    text-align: left;
    margin-left: 0rem;
  }
}
.footer {
  grid-area: footer;
  background-color: $darkblue;
  height: 3rem;
  text-align: left;
  color: $gray;
  bottom: 0;
}

.table-games {
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  .th {
    background-color: rgb(6, 126, 162);
  }
  tr:nth-child(even) {
    background: rgb(165, 178, 182);
  }
  tr:nth-child(odd) {
    background: rgb(188, 209, 216);
  }
}
.table-locations {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  .tr {
    margin: 0.5rem;
  }
}
.image{
  float: right;
}
@media only screen and (min-width: 650px) {
  /* For tablets*/
  .header {
    .h1 {
      color: $gray;
      font-size: 3rem;
      text-align: center;
    }
  }

  .navbar {
    &.navbutton {
      font-size: 1.5rem;
    }
  }
  .details {
    grid-area: details;
    margin-top: 30px;
    .rules {
      font-size: 1.5rem;
      max-width: 60rem;
    }
  }
  .footer {
    text-align: center;
    font-size: 2.5rem;
  }
  .info {
    .p {
      font-size: 1.5rem;
    }
  }
  .table-games {
    font-size: 1.5rem;
  }
  .table-locations {
    font-size: 2rem;
  }

  .details {
    font-size: 1.5rem;
  }
  .info {
    .contact {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  /* For desktop */
}
