body {
    background-image: url(img/design2_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    list-style: none;
    padding: 5px;
    margin-left: 10px;
    font: bold 14px verdana;
    display: block;
    text-align: center;
    float: left;
}

.section {
    width: 99%;
    overflow-y: auto;
    padding-top: 3rem;
}

.mark {
    text-align: center;
    font-size: 40px;
    background-color: wheat;
    margin-top: 0px;
    margin-bottom: 20px;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a {
    list-style: none;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
    font: bold 14px verdana;
    display: block;
    font-size: 15px;
}

.content {
    background-color: #ffffffd1;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 99%;
    height: 480px;
    padding: 5px;
    border: solid;
    display: flex;
    height: 80vh;
}

.menu a {
    text-decoration: none;
    background-color: goldenrod;
    padding: 5px 15px;
    box-shadow: 5px 10px #000000;
}

.menu a:hover {
    background-color: yellowgreen;
    color: lightcoral;
}

.menu a:active {
    background-color: yellowgreen;
}

.paragraph {
    width: 60%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    position: absolute;
    width: 120px;
    top: 20px;
    left: 100px;
}

.head {
    margin-left: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 60px;
    background-color: rebeccapurple;
    text-align: center;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head2 {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 30px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head3 {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 40px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph3 {
    width: 40%;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.paragraph2 {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head4 {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 20px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list {
    list-style: decimal;
    width: 60%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    display: list-item;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.paragraph4 {
    width: 60%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.list2 {
    list-style: lower-latin;
    width: 60%;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px;
    display: list-item;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.list3 {
    list-style-type: square;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px;
    display: list-item;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.list4 {
    list-style-type: circle;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px;
    display: list-item;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.head5 {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table {
    margin-left: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 80vw;
}

.table2 {
    margin-right: 10vw;
}

.playerinfo1 {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0px;
    margin-left: 20px;
    width: 80vw;
    height: 10vw;
    display: flex;
    flex-flow: wrap row;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.playerinfo2 {
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 80vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.playerinfo4 {
    width: 40vw;
}

.signature {
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 20px;
    display: flex;
    flex-flow: wrap row;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.playerinfo3 {
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 20px;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.head6 {
    width: 80%;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 20px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.maps2 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 80vw;
}

.maps {
    width: 30vw;
    margin-left: 20px;
}

.paragraph5 {
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 20px;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.input {
    margin-right: 2vw;
}
.table2 {
    margin-left: auto;
    margin-right: auto;
}