.App {
  text-align: center;
  padding: 5vw;
}

.inactive{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0rem;
  font-family: sans-serif;
}

.active{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0.5rem;
  font-family: sans-serif;
}

