body {
    background-color: white;
    font-size: 20px; 
}

.container {
    display: flex;
    /* justify-content: space-between; */
}

nav {
    color: blue;
    display: flex;
    flex-direction: row; 
    /* align-items: flex-start; */
    /* width: 16%; */
    /* margin: 0;
    padding: 0; */
    position: relative;
    transform: translateY(-22rem) translateX(80vw);
}

nav a{
    text-decoration: none;
    color: white;
    background-color: #1d45b3;
    border: 0.5em solid #1d45b3;
}

ul {
    list-style-type: none;
}

li {
    display:inline;
}

li a:hover, li a:focus{
    background-color: #0099ff;
    border: 0.6rem solid  #0099ff;

}

#currentpage {
    color: white;
    background-color: #208f2f;
    border: 0.6rem solid #208f2f;

}

u {
    text-decoration: none;
}

#currentpage:hover, #currentpage:focus{
    /* background-color: transparent; */

}

main {
    display: inline-block;
    width: 56%;
    margin-left: -5rem;
    position: relative;
} 

h1.logo {
    background-image: url(../design2_image1.jpg);
    height: 231px;
    font-size: 3em;
    background-size: cover;
    margin: 4rem auto;
    color: #def0c7;
}

h1.title {
    background-color: transparent;
    color: black;
    border: 0.2rem solid black;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0 auto;
    transform: translateY(-1.6em);
}


h3 {
    font-style: italic;
}

h4 {
    font-size: 1.5em;
}

#logo {
    display:flex;
    position: relative;
    transform: translateY(-0.5em);
    width: 6em;
    height: 6em;
}

header {
    height: 20rem;
}
